@model HK.Models.Project.ProjectListingViewModel

<div class="title">
    <i class="fas fa-hryvnia"></i> All Projects
</div>

<div class="content content-bkg table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped table-sortable" id="userIndexTable">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in Model.ProjectList)
            {
                <tr class="userRow">
                    
                    <td>
                        @project.Id
                    </td>
                    <td>
                        @project.Title
                    </td>
                    <td>
                        @project.Content
                    </td>
                    <td>
                        @project.Status
                    </td>
            
                </tr>
            }
        </tbody>
    </table>
</div>